################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HuffmanCoding
/HuffmanCoding/bin/Debug/netcoreapp3.0
/HuffmanCoding/obj
